﻿@model IEnumerable<RFIDTrackingWebApplication.Models.Person>

@{
    ViewData["Title"] = "GetPeopleAtThisLocations";
}

    <h1>@ViewBag.lokasyon Konumunda Bulunan Kişiler</h1>

<table class="table">
    <thead>
        <tr>
            <th>Sicil No</th>
            <th>RFID No</th>
            <th>Beden</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecordNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RfidNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Size)
            </td>
        </tr>
}
    </tbody>
</table>
