﻿@model EventIndex

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid p-3 mb-2 text-white bg-dark">
    <div class="container-fluid  row">
        @*<div class="col-2"> <img src="../Assets/AkarLogo.png" class="rounded" alt="Cinque Terre"></div>*@
        <div class="col-6">
            <h2>Çalışan Takip Sistemi</h2>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-9">
            <div class="container-fluid row" style="text-align:center;">
                <h3>Kayıt Listesi</h3>
            </div>
            <div class="container-fluid row">
                <div style="height: 400px; overflow: scroll;  border: 5px black;" class="container text-white bg-dark">
                    <table id="EventListTable" class="table table-dark table-sm table-striped table-bordered m-2">
                        <thead>
                            <tr>
                                <th>Zaman</th>
                                <th>Tarih</th>
                                <th>Etiket No</th>
                                <th>Vücut Sıcaklığı</th>
                                <th>Konum</th>
                                <th>Yön</th>
                            </tr>
                        </thead>
                        <tbody style="height: 400px !important; overflow: scroll; ">
            @foreach (var r in Model.PersonEventsList)
            {
                <tr>
                    <td>@r.Datetime</td>
                    <td>@r.Datetime</td>
                    <td>@r.RfidNo</td>
                    <td>@r.Temperature</td>
                    <td>@r.Location</td>
                    <td>@r.Direction</td>
                </tr>
            }
        </tbody>
                    </table>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="container-fluid row" style="text-align:center;">
                    <h3>Konumlar</h3>
                </div>
                <div class="container-fluid row">
                    <div style="height: 400px; overflow: scroll;  border: 5px black;" class="container text-white bg-dark">
                        <table id="Locations" class="table table-dark table-sm table-striped table-bordered m-2">
                            <tbody style="height: 400px !important; overflow: scroll; ">
                                <table id="LocationEvents" class="table table-dark table-sm table-striped table-bordered m-2">
                                    @foreach (var r in Model.Locations)
                                    {
                                        <tr>
                                            <td><button class="btnLocation" data-prop="@r">@r</button></td>
                                        </tr>
                                    }
                                </table>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-8">
                <div class="container-fluid row" style="text-align:center;">
                    <h3> Vücut Isısı Yüksek Olan Kayıtlar</h3>
                </div>
                <div class="container-fluid row">
                    <div style="height: 400px; overflow: scroll;  border: 5px black;" class="container text-white bg-dark">
                        <table id="EventListWarningTable" class="table table-dark table-sm table-striped table-bordered m-2">
                            <thead>
                                <tr>
                                    <th>Zaman</th>
                                    <th>Tarih</th>
                                    <th>Etiket No</th>
                                    <th>Vücut Sıcaklığı</th>
                                    <th>Konum</th>
                                    <th>Yön</th>
                                </tr>
                            </thead>
                            <tbody style="height: 400px !important; overflow: scroll; ">
                                @foreach (var r in Model.PersonEventsWarningList)
                                {
                                <tr>
                                    <td>@r.Datetime</td>
                                    <td>@r.Datetime</td>
                                    <td>@r.RfidNo</td>
                                    <td>@r.Temperature</td>
                                    <td>@r.Location</td>
                                    <td>@r.Direction</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="container-fluid row" style="text-align:center;">
                    <h3>Çalışmayan Okuyucular</h3>
                </div>
                <div class="container-fluid row">
                    <div style="height: 400px; overflow: scroll;  border: 5px black;" class="container text-white bg-dark">
                        <table id="Locations" class="table table-dark table-sm table-striped table-bordered m-2">
                            <tbody style="height: 400px !important; overflow: scroll; ">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript">
        /*
            function getData() {
                $.ajax({
                    url: '/ActionEvent/Index',
                    success: function (html) {
                        $('#EventListTable').html(html);
                    }

                });
            }
            $(document).ready(function () {
                setInterval('getData();', 10);
            });
            */

        /*
        //////////////////////////////////////////////////////////////////////////
         function getdata() {
            $.getJSON("/ActionEvent/Index"), function (data) {

                $.each(data, function (i, item) {
                    var row = {
                        i.Datetime, item.Datetime, item.RfidNo, item.Temperature, item.Location, item.Direction
                    };
                    $(#EventListTable).tableInsertRows(row);
                });

                setInterval(getdata, 5000);

            });
        }
        ////////////////////////////////////////////////////////////////////////////////////////////7
        setInterval(getdata, 5000);
       
        //var table = $('#EventListTable').DataTable();

        $(#EventListTable).ajax.reload(function (json) {
            $("/ActionEvent/Index").val(json.lastInput);
        });
        
        ///////////////////////////////////////////////////////////////////////////////////7

        var table = $("/ActionEvent/Index").DataTable({
            ajax: "data.json"
        });

        setInterval(function () {
            table.ajax.reload();
        }, 1000);*/
        /*
        */

        $(function () {
            //debugger;
            setInterval(addRow, 1000);
            //addRow();
        });

        function addRow() {
            var rowsStyle = "";
            $.ajax({
                type: "GET",
                url: "/ActionEvent/getData",
                success: function (response) {
                    if (response.temperature >= 38) {
                        rowsStyle = "p-3 mb-2 bg-danger text-white";
                    }


                    var stringyön = "";
                    if (response.direction)
                        stringyön = "Giriş";
                    else
                        stringyön = "Çıkış";



                    var date = new Date(Date.parse(response.datetime));
                    //var resdate = response.date.parse;
                    var resdate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + (date.getUTCDate());
                    var restime = date.getHours() + ":" + date.getMinutes();



                    row = ` <tr class="` + rowsStyle + `">
                                <td>`+ restime + `</td>
                                <td>`+ resdate + `</td>
                                <td>`+ response.rfidNo + `</td>
                                <td>`+ response.temperature + `</td>
                                <td>`+ response.location + `</td>
                                <td>`+ stringyön + `</td></tr>`;

                    $("#EventListTable tr:first").after(row);

                    var table = document.getElementById("EventListTable");
                    var rowCount = table.rows.length;

                    if (rowCount == 20) {
                        table.deleteRow(rowCount - 1);
                    }
                    ////////////////////////////////////////
                    if (response.temperature >= 38) {
                        var stringyön = "";
                        if (response.direction)
                            stringyön = "Giriş";
                        else
                            stringyön = "Çıkış";



                        var date = new Date(Date.parse(response.datetime));
                        //var resdate = response.date.parse;
                        var resdate = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + (date.getUTCDate());
                        var restime = date.getHours() + ":" + date.getMinutes();



                        row = `
                                <tr class="` + rowsStyle + `">
                                    <td>`+ restime + `</td>
                                    <td>`+ resdate + `</td>
                                    <td>`+ response.person.rfidNo + `</td>
                                    <td>`+ response.temperature + `</td>
                                    <td>`+ response.location + `</td>
                                    <td>`+ stringyön + `</td>
                                </tr>`;

                        $("#EventListWarningTable tr:first").after(row);

                        var table = document.getElementById("EventListWarningTable");
                        var rowCount = table.rows.length;

                        if (rowCount == 20) {
                            table.deleteRow(rowCount - 1);
                        }
                    }
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
        
        function deleterow(tableID) {
            var table = document.getElementById(tableID);
            var rowCount = table.rows.length;

            table.deleteRow(rowCount - 1);
        }
        
        



        $('.btnLocation').click(function () {
            var locationName = $(this).attr('data-prop');
            var data = JSON.stringify({ location: locationName });
            document.location.href = '@Url.Action("GetPeopleAtThisLocations", "ActionEvent")' + "?location=" + locationName;
            @*$.ajax({
                url: "/ActionEvent/GetPeopleAtThisLocations/" + locationName,
                    type: 'GET',
                    contentType: 'application/json; charset=utf-8',
                    dataType: "json",
                    success: function (data) {
                        window.location.href = '@Url.Action("GetPeopleAtThisLocations", "ActionEvent")';}
                   });*@
        });

    </script>
